# LLM & RAG 框架
llama-index-core
llama-index-llms-openai-like
llama-index-llms-zhipuai
llama-index-llms-gemini
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-readers-file
llama-index-postprocessor-cohere-rerank
llama-index-tools-tavily-research
llama-index-workflows

# 向量数据库
chromadb

# 评测
ragas

# 工具库
python-dotenv
pydantic
pydantic-settings
openai
zhipuai

# 文档解析
docx2txt
pypdf
